extends layouts/layout


block header
        link(rel="stylesheet" href="css/style.min.css")
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css")




block content
    include sections/navbar
    .slides 
        include sections/main
        include sections/about_us
        include sections/our_work
        include sections/contact

block scripts
    script(src="js/jquery-2.1.1.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")
    script(src="js/slider.js")
    script(src="js/main.js")
    

