extends layouts/layout


block header
        link(rel="stylesheet" href="css/style.min.css")



block content
    include sections/main
    include sections/about_us


block scripts
    script(src="js/jquery-2.1.1.min.js")
    script(src="js/main.js")

