section.section#slide1.about_us.hidden-section.all-services(data-section-id="3" v-else-if='state===2' data-section-name="Services" data-section-anchor="#services")
    .container
        .small-and-up
            .all-services__item-circle
            ul.services-circle
                li.services-circle__item(data-color="#d7feac")
                    .services-circle__item-title(itemprop="makesOffer") Server Environment
                        span.block Securing and Customization
                li.services-circle__item(data-color="#f4c1ff")
                    .services-circle__item-title(itemprop="makesOffer") Marketo/HubSpot
                        span.block Integration
                li.services-circle__item(data-color="#fe8ae5")
                    .services-circle__item-title(itemprop="makesOffer") Site
                        span.block Internationalization
                li.services-circle__item(data-color="#fff8a7")
                    .services-circle__item-title(itemprop="makesOffer") Marketo/HubSpot
                        span.block Email Templates
                li.services-circle__item(data-color="#a7d0ff")
                    .services-circle__item-title(itemprop="makesOffer") Full Website
                        span.block Rebuild
                li.services-circle__item(data-color="#ffadb7")
                    .services-circle__item-title(itemprop="makesOffer") Full Site Migration
                        span.block to New Server
                li.services-circle__item(data-color="#98fbe3")
                    .services-circle__item-title(itemprop="makesOffer") CMS
                        span.block Customisation
                li.services-circle__item(data-color="#a0d17f")
                    .services-circle__item-title(itemprop="makesOffer") Marketo/HubSpot
                        span.block Landing Pages
                li.services-circle__item(data-color="#dfeeff")
                    .services-circle__item-title(itemprop="makesOffer") New Webpage
                        span.block Implementation
                li.services-circle__item(data-color="#ffd289")
                    .services-circle__item-title(itemprop="makesOffer") WordPress Plugin
                        span.block Customization
                li.services-circle__item(data-color="#b7ffef")
                    .services-circle__item-title(itemprop="makesOffer") Custom Script
                        span.block Creations

            ul.services-images
                li.services-images__item
                    .services-images__item-wrapper
                        img(src="../../img/services-images/first-service.svg")
                        span.services-images__item-time 4+ Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/second-service.svg
                        span.services-images__item-time 4+ Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/third-service.svg
                        span.services-images__item-time 1+ Days

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/fourth-service.svg
                        span.services-images__item-time 4&mdash;8 Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/fifth-service.svg
                        span.services-images__item-time 6+ Weeks

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/six-service.svg
                        span.services-images__item-time 1+ Weeks

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/seventh-service.svg
                        span.services-images__item-time 2+ Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/eight-service.svg
                        span.services-images__item-time 6&mdash;12 Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/nine-service.svg
                        span.services-images__item-time 4&mdash;8 Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/ten-service.svg
                        span.services-images__item-time 4&mdash;6 Hours

                li.services-images__item
                    .services-images__item-wrapper
                        include ../../img/services-images/eleventh-service.svg
                        span.services-images__item-time 8+ Hours

            .services-action.show
                a(href="/#contact").btn.btn--red Contact



        .extra-small
            .row
                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/first.svg
                    .services-circle__item-title--xs Server Environment
                        span.block Securing and Customization
                    | 4+ Hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/second.svg
                    .services-circle__item-title--xs WordPress Plugin
                        span.block Customization
                    | 4-6 Hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/third.svg
                    .services-circle__item-title--xs New Webpage
                        span.block Implementation
                    | 4-8 Hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/fourth.svg
                    .services-circle__item-title--xs Marketo/HubSpot
                        span.block Email Templates
                    | 4-8 Hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/fifth.svg
                    .services-circle__item-title--xs Marketo/HubSpot
                        span.block Landing Pages
                    | 6-12 Hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/sixth.svg
                    .services-circle__item-title--xs Full Site
                        span.block Migration to New Server
                    | 1+ week

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/seventh.svg
                    .services-circle__item-title--xs Marketo/HubSpot
                        span.block Integration
                    | 4+ hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/eighth.svg
                    .services-circle__item-title--xs Full Website
                        span.block Rebuild
                    | 6+ weeks

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/ninth.svg
                    .services-circle__item-title--xs CMS
                        span.block Customization
                    | 2+ hours

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/tenth.svg
                    .services-circle__item-title--xs Site
                        span.block Internationalization
                    | 1+ days

                .col-xs-12
                    figure.phone-image
                        include ../../img/services-images/extra-small/eleventh.svg
                    .services-circle__item-title--xs Custom
                        span.block Script Creations
                    | 8+ hours

                .col-xs-12
                    a.btn.btn--red(href="/#contact") Contact
