section.main
        .main-background
            .main-background_line.main-background_line_1
            .main-background_line.main-background_line_2
            .main-background_line.main-background_line_3
            .main-background_line.main-background_line_4
            .main-background_line.main-background_line_5
            .main-background_line.main-background_line_6
            .main-background_line.main-background_line_7
            .main-background_line.main-background_line_8
            .main-background_line.main-background_line_9
            .main-background_line.main-background_line_10
            .main-background_line.main-background_line_11
            .main-text Creative Coders
                p Start crate with us


