nav.navbar
  .navbar__inner
    .navbar__left-side 
      h1.navbar__logo CC
    ul.navbar__right-side
      li.navbar__item Home
      li.navbar__item About us
      li.navbar__item Our projects
      li.navbar__item Contact
    .navbar__hamburger
      span
      span
      span



