nav.navbar
  .navbar__inner
    .navbar__left-side 
      h1.navbar__logo CC
    ul.navbar__right-side
      li.navbar__item 
        a(href='#main') Home
      li.navbar__item
        a(href="#services") About us
      li.navbar__item Our projects
      li.navbar__item Contact
    .navbar__hamburger
      span
      span
      span



