nav.navbar
  .navbar__inner
    .navbar__left-side 
      h1.navbar__logo 
        a(href="#slide0") CC
      h1.navbar__logo--mobile Creative Coders
    ul.navbar__right-side
      li.navbar__item 
        a(href="#slide0") Home
      li.navbar__item 
       a(href="#slide1") About us
      li.navbar__item
        a(href="#slide2") Our work
      li.navbar__item
        a(href="#slide3") Contact
    .navbar__hamburger
      span
      span
      span



