nav.navbar
  .navbar__inner
    .navbar__left-side 
      h1.navbar__logo CC
    ul.navbar__right-side
      li.navbar__item(v-on:click.native='alert(1)') Home
      li.navbar__item(@click='changeState(1)') About us
      li.navbar__item Our projects
      li.navbar__item Contact
    .navbar__hamburger
      span
      span
      span



