section.section.our-work#slide2
    .our-work__inner
        .our-work__description
            h3 What we create?
            p Our young, but experienced team offers you an incredible realization of all your dreams
        .our-work__examples
            .row
                .col-4
                    img(src="../../img/work1.jpeg")
                    .img-text
                        ul
                            li HTML5
                            li CSS3
                            li JS
                            li Bootstrap 4
                .col-4
                    img(src="../../img/images.jpeg")
                    .img-text
                        ul
                            li Angular
                            li SASS
                            li TypeScript
                            li Foundation 5
                .col-4
                    img(src="../../img/work0.jpeg")
                    .img-text
                        ul
                            li HTML5
                            li CSS3
                            li Vue.js
                            li Bootstrap 4
            .row
                .col-6
                    img(src="../../img/work4.jpg")
                    .img-text
                        ul
                            li React
                            li CSS3
                            li Redux
                .col-6
                    img(src="../../img/work3.jpg")
                    .img-text
                        ul
                            li HTML5
                            li CSS3
                            li JS
                            li Bootstrap 4
            .row
                .col-7
                    img(src="../../img/work5.jpg")
                    .img-text
                        ul
                            li HTML5
                            li CSS3
                            li JS
                            li Bootstrap 4
                .col-5
                    img(src="../../img/work2.png")
                    .img-text
                        ul
                            li HTML5
                            li CSS3
                            li JS
                            li Bootstrap 4

