section.section.our-work#slide2
    .our-work__inner
        .our-work__description
            h3 What we create?
            p Our young, but experienced team offers you an incredible realization of all your dreams
        .our-work__examples
            