section.section.our-work#slide2
    .our-work__inner
        .our-work__description
            h3 What we create?
            p Our young, but experienced team offers you an incredible realization of all your dreams
        .our-work__examples
            .row
                .col-4
                    img(src="../../img/work1.jpeg")
                .col-4
                    img(src="../../img/work2.png")
                .col-4
                    img(src="../../img/work3.jpg")
            .row
                .col-6
                    img(src="../../img/work4.jpg")
                .col-6
            .row
                .col-7
                    img(src="../../img/work5.jpg")
                .col-5
                    img(src="../../img/images.jpeg")

