@import 'mixins/font-mixins.scss';
@import 'mixins/colors';

$small-screen: 791px;
$extrasmall-screen: 767px;

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  >* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    opacity: 0;
    z-index: 5;

    $angle: (360 / $item-count);
    $rot: 90;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
        animation: rotating 1s 2s ease forwards;
      }

      $rot: $rot+$angle;
    }
  }
}


.all-services {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $back-color;

  @media screen and (max-width: $small-screen) {
    padding-top: 0;
  }

  .container {
    position: relative;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      max-width: none;
    }
  }


  .small-and-up {
    height: 100%;
    position: relative;
    margin-right: 7rem;
    margin-left: 5rem;
    padding-bottom: 5rem;
  }
}

.services-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid #6d1f1f50;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(0.1);

    animation: fadeInCircle 1s 2s ease forwards;
  }


  @include on-circle($item-count: 11, $circle-size: 30rem, $item-size: 3rem);

  // @media screen and (max-width: $small-screen) {
  //   @include on-circle($item-count: 11, $circle-size: 40rem, $item-size: 4rem);
  // }

  &__item {
    opacity: 1;

    &::before {
      display: block;
      content: '';
      width: 3rem;
      height: 3rem;
      background: #E8E8E8;
      border-radius: 50%;
      transition: all .3s ease;
    }

    &:hover,
    &.active-item {

      $backgrounds: (1: #d7feac,
          2: #f4c1ff,
          3: #fe8ae5,
          4: #fff8a7,
          5: #a7d0ff,
          6: #ffadb7,
          7: #98fbe3,
          8: #a0d17f,
          9: #dfeeff,
          10: #ffd289,
          11: #b7ffef);

      @each $i,
      $color in $backgrounds {

        &:nth-of-type(#{$i}) {
          &::before {
            background: $color;
          }
        }
      }

      .services-circle__item-title {
        top: 3.5rem;
      }

      &.ready {

        .services-circle__item-title {
          cursor: pointer;
        }
      }

      &.active-item {
        pointer-events: none;
        cursor: pointer;
      }
    }


  }

  &__item-title {
    position: absolute;
    font-size: 1.1rem;
    left: 2rem;
    top: 4rem;
    text-align: center;
    //min-width: 19rem;
    width: max-content;
    transition: all .3s ease;
    cursor: pointer;
    line-height: 1.4;
    transform: translateX(-50%);
    @include font-stm;
    color: #fa0769;

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      font-size: 1.2rem;
    }

    &--xs {
      position: static;
      @include font-stm;
    }

    span {
      color: black;
      @include font-stm;

      &.block {
        display: block;
      }
    }

    // @media screen and (max-width: $small-screen) {
    //   font-size: 1.4rem;
    //   min-width: 16rem;
    // }

    &--xs {
      position: static;
      font-size: 1.8rem;
      text-align: center;

      span {
        color: black;
        display: block;
      }
    }
  }
}

.all-services__item-circle {
  position: absolute;
  left: 50%;
  top: 46%;
  opacity: 1;
  transform: translate(-50%, -50%);
  background: #d7feac;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: all .3s cubic-bezier(.76, .62, .87, 1.49);

  &.pump {
    width: 17rem;
    height: 17rem;
    opacity: 1;

    // @media screen and (max-width: $small-screen + 1) {
    //   width: 22rem;
    //   height: 22rem;
    // }
  }
}

.services-images {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
  width: 16rem;
  height: 12rem;
  border-radius: 50%;

  // @media screen and (max-width: 992px) {
  //   width: 22rem;
  //   height: 18rem;
  // }

  &__item {
    display: none;

    &-wrapper {
      opacity: 0;
      transition: all .3s ease;
      z-index: 2;
      position: relative;

      span {
        @include font-stm;
        font-size: 1.3rem;

      }
    }

    &-time {
      opacity: 0;
      position: absolute;
      left: 50%;
      bottom: -10rem;
      transform: translateX(-50%);
      transition: all .3s cubic-bezier(0.0, 0.0, 0.2, 1);

      &.show {
        opacity: 1;
        bottom: -6rem;
      }
    }
  }
}

@keyframes fadeInCircle {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes tilt {
  0% {
    opacity: .1;
  }

  5% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translate(-52px) rotate(0deg);
    opacity: 1;
  }

  70% {
    -webkit-transform: translate(-91px) rotate(77deg);
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-130px) rotate(77deg);
    opacity: 0;
  }
}

@keyframes tilt {
  0% {
    opacity: .1;
  }

  5% {
    opacity: 1;
  }

  40% {
    transform: translate(-52px) rotate(0deg);
    opacity: 1;
  }

  70% {
    transform: translate(-91px) rotate(77deg);
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    transform: translate(-130px) rotate(77deg);
    opacity: 0;
  }
}


.services-action {
  position: absolute;
  left: 50%;
  top: 46%;
  background: rgba(255, 255, 255, 0);
  width: 17rem;
  height: 17rem;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease;
  z-index: -100;

  .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: all .3s ease;
    text-decoration: none;
    color: #fff;
    background-color: #fa0769;
    padding: 1.3rem 2rem;
    @include font-stm;
    font-size: 1.3rem;

    &:hover {
      top: 48%;
      box-shadow: 0 2px 6px rgb(0, 0, 0);
    }

    &:active {
      top: 50%;
      box-shadow: none;
    }

  }

  &.show {
    z-index: 4;

    &:hover {
      background: rgba(255, 255, 255, 0.9);

      .btn {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}


@media screen and (min-width: $extrasmall-screen + 1) {
  .small-and-up {
    display: block;
  }

  .extra-small {
    display: none;
  }
}

@media screen and (max-width: $extrasmall-screen) {
  .small-and-up {
    display: none;
  }

  .extra-small {
    display: block;
    text-align: center;
    order: 2;

    .col-xs-12 {
      padding-bottom: 6rem;
      font-size: 1.4rem;
      @include font-stm;
      color: #f1126b;

      .btn {
        color: white;
        text-decoration: none;
        background-color: #f1126b;
        padding: 20px 50px;
        transition: all ease .3s;
      }
    }

    .phone-image {
      margin: 0 auto;
      max-width: 34rem;
    }
  }
}


.phone-image {
  padding-bottom: 1rem;
}

.about-us {
  &__text {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include font-stm;
      text-align: center;
      padding-left: 5rem;
      padding-right: 2rem;

      h2 {
        font-size: 3rem;
        color: #f30b69;
        margin-bottom: 2.5rem;
      }

    }

    margin-bottom: 3rem;
    font-size: 1.7rem;
    color: $font-1;
  }
}

@media screen and (max-width: 1200px) {
  .all-services {
    .container {
      flex-direction: column;
      width: 100%;
      padding: 0 35px;
      padding-top: 120px;
      max-width: unset;
    }
  }

  .small-and-up {
    order: 2;
  }

  .about-us {
    &__text-wrapper {
      padding: 0;
      order: 1;
      padding-bottom: 2rem;

      h2 {
        font-size: 2rem;
      }
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}