@import 'mixins/font-mixins.scss';
@import 'mixins/colors.scss';

.contact-page {
    width: 100vw;
    height: 100vh;
    background-color: $back-color;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    @include font-stm;

    &__inner {
        width: 70%;
        max-width: 790px;
    }

    &__names {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    &__form {
        h2 {
            font-size: 1.7rem;
            text-align: center;
            font-weight: 600;
            margin-bottom: 10px;
        }

        display: flex;
        flex-direction: column;
        padding: 40px 50px;
        background-color: #fff;
        border-radius: 5px;
        width: 100%;

        input,
        textarea {
            background-color: #fff;
            color: #333;
            border: 1px solid #e6e6e6;
            border-radius: 3px;
            padding: 10px 20px;
            display: block;
            outline: none;
            @include font-stm;
            font-size: 1.5rem;
            margin-bottom: 20px;
            width: 100%;

            &:active {}

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px #fff inset;
                -webkit-text-fill-color: #333;
            }

            &::placeholder {
                color: #adadad;
            }

            &:focus {
                border: 1px solid #d37ef2;
            }
        }
    }

    &__message {
        resize: none;
        height: 150px;
    }

    &__label {
        text-transform: uppercase;
        font-size: 13px;
        line-height: 2;
    }

    &__input {
        &-name {
            width: 45%;
            margin-right: 10%;
        }

        &-surname {
            width: 45%;
        }
    }

    &__btn {
        @include font-stm;
        width: 150px;
        margin: 0 auto;
        display: block;
        border: none;
        border-radius: 30px;
        background-color: $font-2;
        padding: 15px 30px;
        color: #fff;
        font-size: 1.3rem;
        transition: all .3s ease;

        &:hover {
            background-color: $back-color;
            color: $font-2;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-page {
        &__inner {
            padding-top: 50px;
            width: 90%;

        }

        &__names {
            flex-direction: column;
        }

        &__input {
            &-name {
                width: 100%;
                margin-right: 0;
            }

            &-surname {
                width: 100%;
            }
        }
    }
}