html,
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

// .section {
//     // opacity: 0;
// }

// .shown-section {
//     display: block;
//     animation: section-displaying .8s ease-in-out .4s;
// }

// .hidden-section {
//     animation: section-hiding .8s ease-in-out;
// }