html,
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

.slider__indicator {
    background-color: rgba(0, 0, 0, 0.637);
}

// section {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     margin: 0;
//     padding: 0;

//     // &:nth-last-child(1) {
//     //     z-index: 1;
//     // }

//     // &:nth-last-child(2) {
//     //     z-index: 2;
//     // }

//     // &:nth-last-child(3) {
//     //     z-index: 3;
//     // }

//     // &:nth-last-child(4) {
//     //     z-index: 4;
//     // }
// }


// .shown-section {
//     animation: section-displaying .8s ease-in-out .4s;
//     z-index: 10;
// }

// .hidden-section {
//     animation: section-hiding .8s ease-in-out;
//     z-index: 1;
// }