@import 'mixins/font-mixins';
@import 'mixins/colors';

.main {
  height: 100vh;
  overflow: hidden;
  font-family: Verdana;


  .main-background {
    background-color: $back-color;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    position: relative;
    width: 100%;

    &_line {
      height: 170%;
      margin: -20% 70px 0 30px;
      width: 4%;
      // background-color: #efe5cca6;
      background-color: $lines;
      transform: rotate(-20deg);

      &_1 {
        animation: appear 1s ease-in-out;
      }

      &_2 {
        animation: appear 1.5s ease-in-out;
      }

      &_3 {
        animation: appear 2s ease-in-out;
      }

      &_4 {
        animation: appear 2.5s ease-in-out;
      }

      &_5 {
        animation: appear 3s ease-in-out;
      }

      &_6 {
        animation: appear 3.5s ease-in-out;
      }

      &_7 {
        animation: appear 4s ease-in-out;
      }

      &_8 {
        animation: appear 4.5s ease-in-out;
      }

      &_9 {
        animation: appear 5s ease-in-out;
      }

      &_10 {
        animation: appear 5.25s ease-in-out;
      }

      &_11 {
        animation: appear 5.5s ease-in-out;
      }

      //--- VISIBLE LINES ON MOBILE DEVICES ---

      // @media screen and (max-width: 992px) {
      //   margin: -10% 35px 0 20px;
      //   width: 10%;

      // }

      // @media screen and (max-width: 768px) {
      //   margin: -35% 30px 0 4px;
      // }
    }

    .main-text {
      @include font-stm;
      position: absolute;
      margin: 0;
      top: 35%;
      left: 15%;
      opacity: 1;
      color: $font-1;
      font-size: 102px;
      animation: main-text-load 2s ease-in-out;

      @media screen and (max-width: 768px) {
        h2 {
          display: none;

        }


        width: 100%;
        left: 0;
      }

      p {
        font-size: 30px;
        margin-left: 60%;
        margin-top: 30px;
        color: $font-2;
        animation: text-load 2s ease-in-out;

        @media screen and (max-width: 768px) {
          font-size: 3rem;
          margin-left: 0;
          text-align: center;
          padding: 0 40px;
          width: 100%;
          animation: text-load--mobile 2s ease-in-out;
        }
      }

    }

    .main-background-night {
      background-color: black;

      .main-background_line {
        background-color: #c32aff;
      }

      .main-text {
        text-shadow: 1px -1px 2px #703e8a;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .main-text {
      p {
        margin-left: 30%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .main-text {
      font-size: 26px;
    }
  }

  @media screen and (max-width: 576px) and (min-width: 300px) {
    .main-text {
      left: 7%;
    }
  }
}
